
// $green-1: #718e5e;
// $green-2: #607f4c;
// $green-3: #4d663d;
// $green-4: #36472a;
// $green-5: #d5e3c6;
// $green-6: #48583c;

.home_banner{
    height: calc(3.325rem + .9vw);
}

.home_banner_rel{
    position: relative;
    left: -50vw;
    width: 50vw;
}

.home_bg_1{
    background-color: #516B40;
}

.home_bg_2{
    background-color: #BECFAE;
}

.home_bg_3{
    background-color: #607F4C;
}

.home_bg_4{
    background-color: #3E5231;
}

.home_bg_5{
    background-color: #86A96F;
}

.home_bg_6{
    background-color: #D5E3C6;
}

.home_bg_7{
    background-color: #4b613b;
}

.home_color_1{
    color: #D5E3C6;
}

.home_color_2{
    color: #D5E3C6;
}

.home_color_3{
    color: #36472A;
}

.home_color_4{
    color: #D5E3C6;
}

.home_color_5{
    color: #36472A;
}

.home_color_6{
    color: #D5E3C6;
}